#results {
    display:none;
  }


div { 
background: url(https://cdn.mos.cms.futurecdn.net/NCRrZw5bdkT64aT4y5cGuS.jpg);

background-size: 700px 400px ;
border: solid;
border-style: solid;
border-width: thick;
border-color: yellow;
}

h1 { 

position: absolute; 

left: 50%; 

top: -60px; 

width: 300px; 

transform: translateX(-50%); 

background-color: #ffff00; 

color: blue; 

font-weight: 100; 

border-top-left-radius: 20px; 

border-top-right-radius: 20px; 

font-size: 50px; 

text-align: center; 

padding: 3px; 

text-decoration: underline;

}


body {
padding-top: 12px;
margin-left: 20px;
font-family: 'Roboto Slab';
color: black;
font-style: italic;
margin-bottom: 15px;
font-style: oblique 90deg;
font-size: 50px; 

}

label, input {
font-family: sans-serif;
color: #ffff00; 
text-decoration: underline;
font-style: oblique 90deg;
font-size: 30px; 
text-decoration-color:blue;
}


p {
font-family: sans-serif;
color: #ffff00; 
text-decoration: underline;
font-style: oblique 90deg;
font-size: 30px; 
text-decoration-color:blue;
}

h5 {
font-family: sans-serif;
color: #ffff00; 
font-style: oblique 90deg;
text-decoration: underline;
font-size: 30px; 
text-decoration-color:blue;
}





